#!/bin/bash

# general
alias c="cd"
alias l="ls -G"
alias ll="ls -lahG"
alias cl="clear"
alias ZZ="exit"
alias ..="cd .."
alias tree="tree -C"
alias mk="mkdir"
alias clip="pbcopy"
alias sudo="sudo "

# folders 
alias code="cd ~/code"
alias downloads="cd ~/Downloads"
alias dls="downloads"
alias docs="cd ~/Documents"

# python
alias unittest="coverage run --source . -m unittest"
alias flake8="flake8 --ignore=E731,--max-complexity 10"

# git
alias git="hub"
alias g="git"
alias gp="git push"
alias dgit="git --git-dir ~/.dotfiles/.git --work-tree=$HOME"
alias dg="dgit"

# vim
alias v="vim"
alias nano="vim"

# other
alias sshtor="ssh -F ~/.ssh/config_tor"
alias sshkeys="ssh-keygen -l -f ~/.ssh/known_hosts"
alias aliases="vim ${HOME}/.aliases && source ${HOME}/.aliases"
alias profile="vim ${HOME}/.profile && source ${HOME}/.profile"
alias vscode="/usr/local/bin/code"
alias weather="curl -4 http://wttr.in/Galway"
alias ip="curl -4 icanhazip.com"
alias tmux="tmux -2"

# OSX only
if [[ "$OSTYPE" == "darwin"* ]]; then
 alias sha256sum="shasum -a 256"
 alias vim="mvim -v"
 alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup"
fi
