[commit]
    gpgsign = true
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[alias]
    a = add
    ap = add -p
    c = commit
    ca = commit -a
    cm = commit -m
    cmp = "!f() { git commit -m \"$@\" && git push; }; f"
    cam = commit -a -m
    camp = "!f() { git commit -a -m \"$@\" && git push; }; f"
    l = log
    m = commit --amend --verbose
    d = diff
    s = status
    p = push
[include]
    path = ~/.gitconfig.local
